.birthday-error{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}
.birthday-normal{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}
.birthday-error > input[type="date"]{
    width: 100%;
    outline: none;
    border: none;
    height: 35px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color:red;
    padding: 0;
    padding-left: 10px;
    background-color: transparent;
}

.birthday-normal > input[type="date"]{
    width: 100%;
    outline: none;
    border: none;
    height: 35px;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0;
    padding-left: 10px;
    color:black;
    background-color: transparent;
}

.birth-container-normal{
    width: calc(100% - 10px);
    height: 55px;
    border: 1px solid rgb(45, 45, 45,0.25);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: column;
    padding-right: 10px;
    justify-content: center;
}
.birth-container-normal:hover{
    border: 1px solid rgb(45, 45, 45,0.8);
}
.birth-container-error{
    width: calc(100% - 10px);
    height: 55px;
    border: 1px solid rgb(253, 7, 7);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
}

