.category-container-normal .MuiRadio-root{
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: calc(50% - 20px) !important;
    display: flex;
    align-items: center;
    margin-left: 20px !important; 
}
.category-container-normal .MuiSvgIcon-root{
    position: absolute !important;
    padding: 0 !important;
    top: 0 !important;
    margin: 0;
    left: 0 !important;
}
.category-container-normal .MuiTypography-root{
    position: relative !important;
    left: 20px !important;
    margin-left: 20px !important;
}
.category-container-normal{
    width: calc(100% - 20px);
    height:fit-content;
    display: flex;
    border: 1px solid rgb(45, 45, 45,0.25);
    border-radius: 4px;
    flex-direction:column;
}
.category-container-normal:hover{
    border: 1px solid rgb(45, 45, 45,0.8);
}
.category-container-normal .MuiSvgIcon-root {
    position: relative !important;
    /* font-size: 1rem !important; */
}
.category-container-normal > *{
    color: black;
}

.category-container-error .MuiRadio-root{
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: calc(50% - 20px) !important;
    display: flex;
    align-items: center;
    margin-left: 20px !important; 
}
.category-container-error .MuiSvgIcon-root{
    position: absolute !important;
    padding: 0 !important;
    top: 0 !important;
    margin: 0;
    left: 0 !important;
}
.category-container-error .MuiTypography-root{
    position: relative !important;
    left: 20px !important;
    margin-left: 20px !important;
}
.category-container-error{
    width: calc(100% - 20px);
    height:fit-content;
    display: flex;
    border: 1px solid rgba(255, 2, 2, 1);
    border-radius: 4px;
    flex-direction:column;
}
.category-container-error > * {
    color: red;
}

.category-container-error .MuiSvgIcon-root {
    position: relative !important;
    /* font-size: 1rem !important; */
}


@media only screen and (max-width:550px)
{
    .reg-form{
        width: 100%;
        height: 100%;
    }
    .form-data{
        margin: 0 auto;
        width: 95%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .form-data *{
        margin: 10px;
        padding-right: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .gender-container-normal{
        width: calc(100% - 20px);
        height: fit-content;
        border: 1px solid rgb(45, 45, 45,0.25);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: red !important;
    }
    .gender-container-normal:hover{
        border: 1px solid rgb(45, 45, 45,0.8);
    }
    .gender-container-error{
        width: calc(100% - 20px);
        height: fit-content;
        border: 1px solid rgb(247, 4, 4);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gender-container-error .MuiRadio-root{
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        position: absolute !important;
        display: flex;
        align-items: center;
        margin-left: 20px !important; 
    }
    .gender-container-error .MuiSvgIcon-root{
        position: absolute !important;
        padding: 0 !important;
        top: -10px !important;
        margin: 0;
        left: 0 !important;
    }
    .gender-container-error .MuiTypography-root{
        position: relative !important;
        left: 30px !important;
        margin-left: 20px !important;
    }
    .gender-container-normal .MuiRadio-root{
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        position: absolute !important;
        display: flex;
        align-items: center;
        margin-left: 20px !important; 
    }
    .gender-container-normal .MuiSvgIcon-root{
        position: absolute !important;
        padding: 0 !important;
        top: -10px !important;
        margin: 0;
        left: 0 !important;
    }
    .gender-container-normal .MuiTypography-root{
        position: relative !important;
        left: 30px !important;
        margin-left: 20px !important;
    }


    .error-alert{
        position: relative;
        top: -12px;
        width: calc(100% - 10px);
        left: 5px;
        color: rgb(255, 0, 3);
        text-transform: capitalize;
        /* backdrop-filter: blur(2px);
        border: 1px solid red; */
        padding: 2px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-family: Poppins 'sans-serif';
        display: none;
    }
}
@media only screen and (min-width:551px){

    @media only screen and (orientation:landscape)
    {
        .reg-form{
            width: 100%;
            height: 100%;
            position: relative;
        }
        .form-data{
            margin: 0 auto;
            width: 95%;
            height: 100%;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        .form-data *{
            margin: 10px;
            padding-right: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        .gender-container-normal{
            width: calc(100% - 20px);
            height: fit-content;
            border: 1px solid rgb(45, 45, 45,0.25);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: red !important;
        }
        .gender-container-normal:hover{
            border: 1px solid rgb(45, 45, 45,0.8);
        }
        .gender-container-error{
            width: calc(100% - 20px);
            height: fit-content;
            border: 1px solid rgb(247, 4, 4);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .gender-container-error .MuiRadio-root{
            width: 5px !important;
            height: 5px !important;
            border-radius: 50% !important;
            position: absolute !important;
            display: flex;
            align-items: center;
            margin-left: 20px !important; 
        }
        .gender-container-error .MuiSvgIcon-root{
            position: absolute !important;
            padding: 0 !important;
            top: -10px !important;
            margin: 0;
            left: 0 !important;
        }
        .gender-container-error .MuiTypography-root{
            position: relative !important;
            left: 30px !important;
            margin-left: 20px !important;
        }
        
        .gender-container-normal .MuiRadio-root{
            width: 5px !important;
            height: 5px !important;
            border-radius: 50% !important;
            position: absolute !important;
            display: flex;
            align-items: center;
            margin-left: 20px !important; 
        }
        .gender-container-normal .MuiSvgIcon-root{
            position: absolute !important;
            padding: 0 !important;
            top: -10px !important;
            margin: 0;
            left: 0 !important;
        }
        .gender-container-normal .MuiTypography-root{
            position: relative !important;
            left: 30px !important;
            margin-left: 20px !important;
        }
        .error-alert{
            position: relative;
            top: -12px;
            width: calc(100% - 10px);
            left: 5px;
            color: rgb(255, 0, 3);
            text-transform: capitalize;
            /* backdrop-filter: blur(2px);
            border: 1px solid red; */
            padding: 2px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            font-family: Poppins 'sans-serif';
            display: none;
        }
    }


    .reg-form{
        width: 100%;
        height: 100%;
        /* position: absolute;
        left: 0;
        right: 0; */
    }
    .form-data{
        margin: 0 auto;
        width: 95%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .form-data *{
        margin: 10px;
        padding-right: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .gender-container-normal{
        width: calc(100% - 20px);
        height: fit-content;
        border: 1px solid rgb(45, 45, 45,0.25);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: red !important;
    }
    .gender-container-normal:hover{
        border: 1px solid rgb(45, 45, 45,0.8);
    }
    .gender-container-error{
        width: calc(100% - 20px);
        height: fit-content;
        border: 1px solid rgb(247, 4, 4);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gender-container-error .MuiRadio-root{
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        position: absolute !important;
        display: flex;
        align-items: center;
        margin-left: 20px !important; 
    }
    .gender-container-error .MuiSvgIcon-root{
        position: absolute !important;
        padding: 0 !important;
        top: -10px !important;
        margin: 0;
        left: 0 !important;
    }
    .gender-container-error .MuiTypography-root{
        position: relative !important;
        left: 30px !important;
        margin-left: 20px !important;
    }
    
    .gender-container-normal .MuiRadio-root{
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        position: absolute !important;
        display: flex;
        align-items: center;
        margin-left: 20px !important; 
    }
    .gender-container-normal .MuiSvgIcon-root{
        position: absolute !important;
        padding: 0 !important;
        top: -10px !important;
        margin: 0;
        left: 0 !important;
    }
    .gender-container-normal .MuiTypography-root{
        position: relative !important;
        left: 30px !important;
        margin-left: 20px !important;
    }
    .error-alert{
        position: relative;
        top: -12px;
        width: calc(100% - 10px);
        left: 5px;
        color: rgb(255, 0, 3);
        text-transform: capitalize;
        /* backdrop-filter: blur(2px);
        border: 1px solid red; */
        padding: 2px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-family: Poppins 'sans-serif';
        display: none;
    }
}