.loader-container{
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 7, 7, 0.8);
    z-index: 200;
}